<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Viewer</title>
    <!-- PDF.js のスクリプトを読み込む -->
    <script src="../../javascripts/pdfjs-embed-viewer/build/pdf.js"></script>

</head>
<body>
    <h1>PDF Viewer</h1>

    <iframe title="pdfjs-default-viewer" 
    src="../../javascripts/pdfjs-embed-viewer/web/viewer.html?file=荻原雲来『梵和大辞典』.pdf" 
    width="1200px" 
    height="700px">
    </iframe>
   
</body>
</html>
